<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "flash_notifications", "data-turbo-track": "reload" %>


<h1>Your Tickets</h1>

<% if @tickets.any? %>
  <div class="ticket-cards-container">
    <% @tickets.each do |ticket| %>
      <div class="ticket-card">
        <%= link_to ticket_path(ticket), class: 'ticket-card-link' do %>
          <div class="card-content">
            <h3>Ticket ID: <%= ticket.id %></h3>
            <p><strong>Name:</strong> <%= ticket.name %></p>
            <p><strong>Email:</strong> <%= ticket.email %></p>
            <p><strong>Status:</strong> <%= ticket.state %></p>
          </div>
        <% end %>

        <% if user_signed_in? && current_user.admin? %>
      <!-- Admin-only button -->
       <%= form_with url: soft_delete_ticket_path(ticket), method: :put, data: { confirm: 'Are you sure you want to delete this ticket?' }, class: 'btn-delete-form' do %>
  <%= button_tag 'Delete', type: 'submit', class: 'btn btn-danger' %>
<% end %>
<% end %>
       
      </div>
    <% end %>
  </div>

  <%= paginate @tickets %>
<% else %>
  <p>No tickets found.</p>
<% end %>
