<h1>Tickets</h1>

<%= button_to 'Fetch Tickets', fetch_tickets_tickets_path, method: :post, class: 'btn btn-primary' %>

<% if @tickets.any? %>
  <div class="ticket-cards-container">
    <% @tickets.each do |ticket| %>
      <div class="ticket-card">
        <%= link_to ticket_path(ticket), class: 'ticket-card-link' do %>
          <div class="card-content">
            <h3>ID: <%= ticket.id %></h3>
            <p><strong>Name:</strong> <%= ticket.name %></p>
            <p><strong>Email:</strong> <%= ticket.email %></p>
            <p><strong>Status:</strong> <%= ticket.state %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No tickets found.</p>
<% end %>

<!-- Notification for role confirmation -->
<% if flash[:role_notice] %>
  <div class="notice"><%= flash[:role_notice] %></div>
<% end %>
