<h2>Ticket Details</h2>

<div class="ticket-details">
  <p><strong>ID:</strong> <%= @ticket.id %></p>
  <p><strong>Name:</strong> <%= @ticket.name %></p>
  <p><strong>Email:</strong> <%= @ticket.email %></p>
  <p><strong>Phone Number:</strong> <%= @ticket.phone_number %></p>


        <% if user_signed_in? && current_user.admin? %>
      <!-- Admin-only button -->
       <%= form_with url: soft_delete_ticket_path(@ticket), method: :put, data: { confirm: 'Are you sure you want to delete this ticket?' }, class: 'btn-delete-form' do %>
  <%= button_tag 'Delete', type: 'submit', class: 'btn btn-danger' %>
<% end %>

<% end %>

</div>

<%= link_to 'Back to Tickets', tickets_path, class: 'btn btn-secondary' %>
